@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 8;
  margin-bottom: 10px;
  box-sizing: border-box;
  height: max-content;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.powerful-pulse {
  animation: pulse 2s infinite;
}

@keyframes icon-hover {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.svg-hover:hover {
  animation: icon-hover 0.3s ease-in-out;
}
.mb